
section {
    padding-bottom: 4rem;
    padding-top: 2rem;
}

input, textarea {
    margin-bottom: 1rem;
}

.img-1{
    width: 40%;
}
.card {
    width: 28%;
    float: left;
    margin: 2%;
}

.navbar-toggler:focus {    
	font-size: 23px;
	cursor: pointer;	
	border-radius: 5px;
	border-spacing: 2px 2px;
    text-decoration: none;
    color: rgba(228, 231, 233, 0.5);
}

.navbar .navbar-nav .nav-link {
    color: #bbbaba;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: #cecece;
  color: #fff;
  border-radius: 15px;
}
.botaoct{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

/* css js */
.mensagem{
    font-size: 1.3rem;
    text-align: center;
    padding: 0.8rem;
}

form .erro input {
    border: #ff0000 solid 3px;
}

@media (max-width: 992px) {
    .navbar .navbar-nav .nav-link:hover {
        background-color: #f8f9fa;
        border-radius: 5px;
        color: rgb(73, 72, 72);
      }     
      .card {
        width: 50%;
        margin-left: 10%;
        margin-bottom: 20px;        
    }   
    .botaoct{
        padding: 0.4rem 0.8rem;
        font-size: 1.10rem;
        border-radius: 0.3rem;
    }
}

@media (max-width: 768px) {
    #col712{
        width: 98%;

    }
    #img-1{
        display: block;
        text-align: center;
    }
    .img1{
        width: 85%;
        height: auto;
    }
    .card {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
        
    }   

    #img-123{
        /*background-color: cornflowerblue;*/
        display: block;
        align-items: center;
        
    }

    .botaoct{
        padding: 0.25rem 0.5rem;
        font-size: 1.00rem;
        border-radius: 0.3rem;
    }
    /* css js */
    .mensagem{
        font-size: 1.0rem;
        text-align: center;
        padding: 0.8rem;
    }

}


